allow vendor_init proc_kernel_sched:file write;
allow vendor_init firmware_file:dir { search read };
allow vendor_init firmware_file:file { getattr read open };
